* {
  margin: 0px;
  padding: 0px;
}
body {
  background: lightblue;
  text-align: center;
}
.todo {
  margin: 20px;
  border: 1px solid white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.todo-text {
  font-size: 1.25em;
}
.todo-input, .complete-button, .remove-button {
  background: white;
  padding: 5px;
  margin-top: 10px;
  font-style: italic;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  border: none;
  box-shadow: 2px 2px 2px gray;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
.todo-input {
  cursor: initial;
}
.empty-message {
  margin: 20px;
  font-size: 1.5em;
}